{
  "parser": "babel-eslint",
  "globals": {"import": true},
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "indent": ["error", 3],
    "react/jsx-indent": ["error", 3],
    "react/jsx-indent-props": ["error", 3],
    "react/prop-types": 0,
    "jsx-quotes": ["error", "prefer-double"],
    "no-return-assign": 0
  }
}